{% extends "blog/base.html" %}
{% load static %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <div class="background_list">
        <link href="{% static "css/blog.css" %}" rel="stylesheet">
        <div class="body_list">
            <div class="sorted_posts">
            </div>
                <h1>Список публикаций</h1>
                <div class="posts">
                        {% if tag %}
                            <h2>Posts tagged with "{{ tag.name }}"</h2>
                        {% endif %}
                        {% for post in posts %}
                        <div class="post">
                            <h2 class="title_post">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>                                    
                            </h2>
                            <h4 class="tags">
                                {%if post.tags.all %}
                                <a>
                                    Tags:
                                    {% for tag in post.tags.all %}
                                        <a href="{% url "post_list_by_tag" tag.slug %}">
                                            {{ tag.name }}
                                        </a>
                                        {% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                    </a>
                                {% endif %}
                            </h4>
                            <div class='body'>
                                {{ post.body|truncatewords:30|linebreaks }}
                            </div>
                            <p class="date">
                                Опубликовал {{ post.author }} </br>{{ post.publish }}
                            </p>
                        </div>
                        {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}
